.gameSpace {
  height: 500px;
  width: 900px;
  border-style: solid;
  margin-left: 5%;
  position: absolute;
  top: 80px;
}

.player {
  height: 70px;
  width: 40px;
  background-color: yellow;
  background-image: url('Images/player-character.png');
  position: inherit;
  top: 340px;
  left: 110px;
}
button {
  position: absolute;
  top: 50px;
  left: 820px;

}
.obstacle {
  height: 55px;
  width: 40px;
  background-color: blue;
  position: inherit;
  top: 355px;
  left: 995px;
}
.lowObstacle {
  height: 30px;
  width: 60px;
  background-color: purple;
  position: inherit;
  top: 380px;
  left: 915px;
}
.highObstacle {
  height: 50px;
  width: 70px;
  background-color: orange;
  position: inherit;
  top: 315px;
  left: 915px;
}
.score {
  height: 30px;
  width: 200px;
  color: blue;
  position: inherit;
  top: 10px;
  left: 685px;
}
.lifeScore {
  height: 30px;
  width: 50px;
  /*background-color: red;*/
  color: red;
  position: inherit;
  top: 10px;
  left: 180px;
}
