.gameSpace {
  height: 500px;
  width: 900px;
  border-style: solid;
  margin-left: 5%;
  position: absolute;
  top: 80px;
}

.player {
  height: 70px;
  width: 40px;
  background-color: red;
  position: inherit;
  /*display: block;*/
  top: 340px;
  left: 110px;
}
button {
  position: absolute;
  top: 50px;
  left: 820px;

}
.obstacle {
  height: 55px;
  width: 40px;
  background-color: blue;
  position: inherit;
  /*float: right;*/
  top: 355px;
  left: 995px;
}
.lowObstacle {
  height: 30px;
  width: 60px;
  background-color: purple;
  position: inherit;
  top: 380px;
  left: 915px;
}
.highObstacle {
  height: 45px;
  width: 70px;
  background-color: orange;
  position: inherit;
  top: 320px;
  left: 915px;
}
.killZone {
  height: 100px;
  width: 90px;
  background-color: grey;
  position: inherit;
  top: 315px;
  left: -94px;
}
